/* to prevent from violating box model behaviour */
*{
    box-sizing: border-box;
}

#topbox{
    display: flex;
    background-color: rgb(233, 226, 218);
    opacity: 0.8;
}
/* for giving size to image */
@media  screen and (max-width:800px) {
    #topbox img{
        width:10%;
    }
    
}
@media  screen and (min-width:800px) {
    #topbox img{
        width:5%;
    }
    
}

/* for removing bullets */
#topbox li{
    list-style: none;
    margin-left: 10%;
    margin-top: 1%;
}
/* for removing underline */
a{
    text-decoration: none;
}
/* on hovering */
#topbox li a:visited{
    color: darkgoldenrod;
}
#topbox li a:hover{
    border: 2px solid blue;
    color: white;
    background-color: black;
    border-radius: 8px;
}
/* for active page......see this  */
/* #topbox li a:active{
    background-color: black;
    color: white;
} */
/* for aligning them in a row */

@media  screen and (max-width:800px) {
    #section1{
        margin-top: 20%;
    }
}

@media  screen and (min-width:800px) {
    #section1{
        margin-top: 10%;
    }
    #section1 div,img{
        margin-right: 40px;
        margin-left: 20px;
    }
}
#section1{
    display: flex;
    justify-content: center;
}
#section1 div{
    margin-top: 5%;
    text-align: center;
}
/* giving size to photo */
#section1 img{
    width:20%;
}
footer{
    text-align: center;
    margin-top: 10%;
}
body{
    background-color: grey;
}