*{
    box-sizing: border-box;
}
/* adding image in bg */
body{
    background-color: rgb(202, 121, 121);
    background: url(onlvot.png) no-repeat center fixed;
    background-size: cover;
    /* opacity:0.8; */
}
/* margin acc to device */
@media screen and (max-width:800px) {
    p{
        margin-top: 3%;
    }
    #male_female{
        margin-top: 3%;
        margin-left: 5%;
    }
}
@media screen and (min-width:800px) {
    p{
        margin-top: 1%;
    }
    #genderbox p{
        margin-top: 3%;
    }
    #male_female{
       margin-bottom: 3.5%;
        margin-right:3%;
    }
    #form{
        margin-top: 1%;
    }
}
/* giving collor to text */
p{
    margin-left: 10%;
    text-align: center;
    color:rgb(158, 37, 138);
}
#male_female{
    color:rgb(121, 69, 17);
    margin-top: 3%;
    margin-left: 5%;
}
/* adding image at center */
div{
    text-align: center;
}
/* top image in semicircular mode */
#img1 img{
       border-radius: 150px;
}
/* to bring the form box in center */
#form{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
}
/* flaunting by showing flex */
.onlinebox{
    display: flex;
    flex-direction: column;
    /* border: 2px solid rgb(179, 20, 20); */
    background-color: rgb(103, 109, 109);
    opacity: 0.8;
}
#genderbox{
    display: flex;
    justify-content: center;
}

.submit{
    height:40px; 
    background:rgb(167, 40, 40);
    color:rgb(5, 170, 236);
    font-size: 30px;
    right: 10%;
}
.submit:hover{
    border:5px solid red;
    background-color: black;
    color:wheat;
    border-radius: 10px;
}
span{
    color:darkblue;
}